@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:'Open Sans', sans-serif;
}

.background-img{
    z-index: -2;
    width: 100vw;
    height: 100vh;
    background-image:url(/image/backgroung/background.jpg);
    position: absolute;
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color:#0007;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: cover;
    background-position: center;
}
.login-failed{
    position: absolute;
    top: 2%;
    width: 500px;
    height: 67px;
    border-radius: 10px;
    background-color: #FF8282;
    display: flex;
    align-items: center;
    z-index: 10;
    font-size: 20px;
    font-weight: 400;
}

.logo-failed{
    height: 40px;
    width: 40px;
    margin: 0 20px 0 15px;
}

.form{
    background-color: white;
    width: 500px;
    height: 700px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* header */
.header-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 0 0;
}

.company-name {
    font-size: 32px;
    font-weight: 500;
    margin-left: 15px;
}

.logo-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

/* login */
.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    margin:  20px 0 0 0
}

input {
    width: 350px;
    height: 47px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: #E8E8E8;
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
}
input::placeholder{
    color: #A7A7A7;
}
label {
    display: block;
    font-size: 20px;
    margin: 0 0 5px 0;
}

/* or */
.or{
    font-size: 20px;
    margin: 30px 0 20px 0;
}
/* button */
.social-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 350px;
    height: 47px;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #B2E2D2;
}

.btn-google{
    display: flex;
    background-color: #D5D5D5;
    justify-content: flex-start;
    margin: 0;
}
.btn-linkedin{
    background-color: #91D6FA;
    display: flex;
    justify-content: flex-start;
}
.btn-new{
    background-color: #B2E2D2;
    display: flex;
    justify-content: flex-start
}

.btn-social{
    width: 20px;
    height: 20px;
    margin: 0 15px 0 10px;
}

/* footer */

.privacy-link {
    display: flex;
    margin-top: auto;
    margin-bottom: 27px;
    color: #9A9A9A;
    text-decoration: none;
    font-size: 20px;
}

/* hover */

.btn-submit:hover {
    background-color: #8AB1A4;
}

.btn-google:hover {
    background-color: #C0C0C0;
}
.btn-linkedin:hover {
    background-color: #7EBCDD;
}
.btn-new:hover {
    background-color: #8AB1A4;
}